/* Global */
/* ------------------------------------ */
@import "./global/normalize";
@import "./global/fonts";
@import "./global/reboot";
@import "./global/container";
@import "./global/visually-hidden";

body {
  background-color: red;
}
