body {
  background-color: #ffffff;
  color: #222222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.calculator {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #393939;
  box-shadow: 20px 20px 50px 10px rgba(146, 146, 146, 0.8);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #393939;
  color: #ffffff;
  padding: 1px;
}

.calculator-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calculator-colors {
  display: flex;
  padding: 3px 0 0 7px;
}

.color-field {
  box-sizing: border-box;
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 25px;
  height: 27px;
  border: none;
  cursor: pointer;
}

.color-field::-webkit-color-swatch {
 border-radius: 50%;
 border: 1px solid #000000;
}

.color-field::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #000000;
}

.color-field:hover {
  border: 1px solid #f6f6f6;
}

.color-field:hover {
  border-radius: 50%;
  border: 1px solid #f6f6f6;
}

.color-field:focus-visible {
  border-radius: 50%;
  border: 1px solid #f6f6f6;
  outline: none;
}

.value-field {
  background-color: transparent;
  border: none;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  aspect-ratio: 4;
  text-align: right;
  padding: 3px 15px;
  margin: 0;
}

.value-field::-webkit-inner-spin-button,
.value-field::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Кнопки спрятаны */
}

.value-field:hover {
  background-color: rgba(94, 94, 94, 0.2);
}

.value-field:focus-visible {
  background-color: rgba(94, 94, 94, 0.2);
  outline: none;
}

.calculator-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px 1px;
  justify-content: space-between; 
}

.btn {
  background-color: transparent;
  border: none;
  width: calc(25% - 2px);
  height: 100%;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.btn:hover::after {
  background-color: rgba(146, 146, 146, 0.2);
}

.btn:focus-visible {
  outline: none;
}

.btn:focus-visible::after {
  background-color: rgba(146, 146, 146, 0.2);
}

.btn-wide {
  width: calc(50% - 2px);
  aspect-ratio: 2;
}

.btn-top {
  background-color: #4d4d4d;
}

.btn-right {
  background-color: #c9932f;
}

.btn-standard {
  background-color: #646464;
}