body {
  background-color: #ffffff;
  color: #222222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 20px 0px rgba(146, 146, 146, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #393939;
  color: #ffffff;
  padding: 1px;
}

.calculator-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calculator-colors {
  display: flex;
  align-items: center;
  height: 10px;
  gap: 20px;
  padding: 20px 0 0 20px;
}

.color-field {
  padding: 0;
  margin: 0;
  inline-size: unset;
  block-size: unset;
  height: 100%;
  flex: unset;
}

.color-field::-webkit-color-swatch {
  border-width: 1px;
  border-color: #f6f6f6;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  inline-size: unset;
  block-size: unset;
}

.value-field {
  background-color: transparent;
  border: none;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  aspect-ratio: 4;
  text-align: right;
  padding: 3px 15px;
  margin: 0;
}

.value-field::-webkit-inner-spin-button,
.value-field::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Кнопки спрятаны */
}

.calculator-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px 1px;
  justify-content: space-between; 
}

.btn {
  background-color: transparent;
  border: none;
  width: calc(25% - 2px);
  height: 100%;
  color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn-wide {
  width: calc(50% - 2px);
  aspect-ratio: 2;
}

.btn-top {
  background-color: #4d4d4d;
}

.btn-right {
  background-color: #c9932f;
}

.btn-standard {
  background-color: #646464;
}