body {
  background-color: #ffffff;
  color: #222222;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  align-items: center;
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 20px 0px rgba(146, 146, 146, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #393939;
  color: #ffffff;
  padding: 1px;
}

.calculator-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calculator-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-between; 
}

.btn {
  cursor: pointer;
  pointer-events: none;
  background-color: transparent;
  border: none;
  width: calc(25% - 1px);
  height: 100%;
}

