.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1903px) {
  .container {
    max-width: 1700px;
  }
}

@media (max-width: 1348px) {
  .container {
    max-width: 1288px;
    padding: 0 34px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 374px;
    padding: 0 18px;
  }
}