*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy', 'Arial',  sans-serif;
  min-height: 100vh;
  align-items: center;
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #f9b300;
  text-decoration: none;
}
